 * {
    -fx-alignment: center;
    -fx-grid-lines-visible: true;
    -fx-background-color: red;
}

.square {
    -fx-background-color: greenyellow;
    -fx-border-width: 1px;
    -fx-border-color: green;
    -fx-border-style: dashed;
}

.square:edge {
    -fx-background-color: aquamarine;
}

.square:corner {
    -fx-background-color: deeppink;
}

.chevron {
    -fx-background-color: beige;
}
