@font-face {
    font-family: 'SortsMillGoudy';
    src: url('../font/theleagueof-sorts-mill-goudy-0607289/OFLGoudyStMTT.ttf');
}

#title_pane {
    -fx-border-image-source: url("../img/victorian_border.png");
    -fx-border-image-width: 100px;
    -fx-border-image-repeat: repeat;
    -fx-border-image-slice: 400px;

    -fx-background-color: wheat;
    -fx-spacing: 40;
}

#title_pane VBox {
    -fx-alignment: center-left;
}

#title_pane #title {
    -fx-font-family: 'SortsMillGoudy';
    -fx-font-size: 100px;
}

#title_pane .a {
    -fx-font-family: 'SortsMillGoudy';
    -fx-font-size: 40;
    -fx-padding: 0 0 0 50;
}