#root-pane {
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

#tree_view {
    -fx-min-width: 300px;
    -fx-font-size: 12px;
    -fx-spacing: 10px;

    //-fx-focus-color: transparent;
    //-fx-faint-focus-color: transparent;
    //-fx-border-style: none;
    //-fx-box-border: transparent;
}

.tree-cell {
    -fx-background-color: wheat;
}

#level_details {
    -fx-padding: 10px;
}

#level_name {
    -fx-font-size: 30px;
    -fx-padding: 2px;
}

#level_desc {

}

#level_diagram {
    -fx-alignment: center;
}

.capacity_marker {
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 45;
}